:root {
  --primary-color: #7d7987;
  --accent-color: #458ff6;
  --title-color: #000000;
  --background-primari: #e5e5e5;
  --white-color: #ffffff;
  --nav-color: #1f1534;
  --color-element: #97c3f9;
}

body {
  font-family: Mulish, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: 0em;
  margin: 0;
  padding: 0;
  color: var(--primary-color);
  background-color: var(--white-color);
}

/* Сброс стилей */
.list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.link {
  color: inherit;
  font-style: normal;
  text-decoration: none;
  border: 0;
}

.center {
  text-align: center;
}

/* Общие стили */

.conteiner {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.providers .title {
  margin-top: 0;
  margin-bottom: 26px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.56;
  color: var(--title-color);
}

/* buttons*/
/* button*/
.link-button {
  display: inline-block;
  text-align: center;
  min-width: 200px;
  height: 60px;
  box-sizing: border-box;
  border: 1.4px solid var(--accent-color);
  border-radius: 55px;

  font-size: 18px;
  font-weight: 700;
  line-height: 3.33;
  color: var(--accent-color);
  background-color: var(--white-color);
}

.link-button:focus,
.link-button:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* header */

.navigation {
  display: flex;
  align-items: center;
}

.t-logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.26;
  margin-right: 12px;
  background-color: var(--accent-color);
  color: var(--white-color);
}

.header .t-logo {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.text-logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.26;
  color: var(--title-color);
}

.nav-list {
  display: flex;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.28;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.nav-item {
  margin-left: 40px;
  padding: 60px 0;
}

.nav-item .link:focus,
.nav-item .link:hover {
  font-weight: 700;
  color: var(--nav-color);
}

/* footer */

/* hero */
.hero {
  position: relative;

  width: 1600px;
  height: 598px;

  background-image: url(../image/hero-img.svg);
  background-size: contain;
  background-position: top 0px right 163px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.hero .conteiner-icon {
  position: absolute;
  top: 10px;
  left: -45px;
  fill: var(--color-element);
  opacity: 0.3;
}

.hero .conteiner {
  padding-top: 160px;
  font-size: 21px;
  line-height: 1.52;
}

.hero .main-title {
  margin: 0 0 25px;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--title-color);
}

.hero .block {
  width: 40%;
}

/*services */
.services {
  text-align: center;
  padding-bottom: 110px;
}

.services .conteiner {
  position: relative;
  padding-top: 200px;
}

.services .conteiners-icon {
  position: absolute;
  z-index: -1;

  fill: var(--color-element);
  opacity: 0.3;
  right: -30px;
  bottom: 460px;
}

.services .conteiner::before {
  position: absolute;
  content: "";
  z-index: -1;

  display: inline-block;
  top: 192px;
  right: 525px;
  background-image: url(../image/bg-element.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.6;

  width: 1119px;
  height: 968px;
}

.services-title {
  margin-top: 0;
  margin-bottom: 26px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.55;
  color: var(--title-color);
}

.services .conteiner-icon {
  display: flex;
  margin: 0 auto 33px;
  width: 56px;
  fill: var(--title-color);
}

.services-paragraph {
  width: 85%;
  margin: 0 auto 80px;

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0em;
}

.title-item {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 24px;
  font-weight: 700;
  line-height: 2.33;
  color: var(--title-color);
  text-align: left;
}

.services-list .paragraph {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -37px;
  margin-left: -30px;
  margin-bottom: 69px;
}

.services-list .item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 37px;
  padding: 47px 52px 47px 37px;
  border-radius: 20px;
  background-color: var(--white-color);
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

.cont-icon {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 80px;
  height: 95px;
  margin-bottom: 24.4px;
}

/* providers */
.providers {
  width: 1600px;
  height: 719px;
  margin: 0 auto;
  background-image: url(../image/providers-img.svg);
  background-repeat: no-repeat;
  background-position: left 135px top 110px;
  background-size: 650px 477px;
}

.providers .conteiner {
  padding-top: 110px;
  padding-bottom: 115px;
}

.conteiner-providers {
  padding-top: 60px;
  width: 38%;
  margin-left: auto;
}

.providers .conteiner-icon {
  margin: 0 0 31px;
  display: flex;
  width: 56px;
  height: 2px;
  fill: var(--title-color);
}

.conteiner-providers .paragraph {
  margin: 0 0 37px;

  font-size: 18px;
  line-height: 1.67;
}

/*mobile-apps*/
.mobile-apps {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  height: 694px;
  background-image: url(../image/apps-img.svg);
  background-repeat: no-repeat;
  background-size: 665px 434px;
  background-position: left 771px top 115px;
}

.mobile-apps .conteiner {
  position: relative;

  padding-top: 115px;
  padding-bottom: 125px;
}

.mobile-apps .conteiners-icon {
  position: absolute;
  top: -120px;
  right: -285px;
  fill: var(--color-element);
  opacity: 0.3;
}

.conteiner-apps {
  padding-top: 38px;
  margin-left: 15px;
  width: 36%;
}

.mobile-apps .title {
  width: 62%;
  margin-top: 0;
  margin-bottom: 26px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.33;
  color: var(--title-color);
}

.mobile-apps .conteiner-icon {
  display: flex;
  width: 56px;
  height: 2px;
  margin-bottom: 31px;
  fill: var(--title-color);
}

.mobile-apps .paragraph {
  margin-top: 0;
  margin-bottom: 40px;

  font-size: 18px;
  line-height: 1.67;
}

/* web-portal */

.web-portal .conteiner {
  position: relative;

  padding-top: 115px;
  padding-bottom: 79px;

  color: var(--white-color);
}

.web-portal .conteiners-icon-white {
  position: absolute;
  top: 100px;
  right: -30px;
  fill: var(--white-color);
  opacity: 0.26;
}

.web-portal .conteiners-icon-blue {
  position: absolute;
  z-index: -1;
  bottom: 170px;
  left: -40px;
  fill: var(--color-element);
  opacity: 0.3;
}

.saying {
  width: 100%;
  padding: 64px 118px 79px;
  margin-bottom: 42px;
  border: 0;
  border-radius: 24px;
  background-image: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  font-family: Mulish;

  font-weight: 400;
}

.webportal-title {
  margin-top: 0;
  margin-bottom: 25px;

  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.33;
}

.web-portal .conteiner-icon {
  display: flex;
  width: 56px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 66px;

  fill: var(--white-color);
}

.founder-name {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 22px;
  font-weight: 700;
  line-height: 2.18;
}

.paragraph-card {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 18px;
  line-height: 2.67;
  color: #ffffff 0.85;
}

.quotes {
  margin-top: 0;
  margin-bottom: 0;
  width: 50%;

  font-size: 19px;
  line-height: 1.58;
  color: #ffffff 0.9;
}

.web-portal .main-card {
  display: flex;
}

.photo-card {
  margin-right: 30px;
}

.mini-card {
  padding-top: 30px;
}

.web-portal .founder-card {
  display: flex;
  width: 50%;
}
/* filter */
.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 336.5px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;

  color: #5b9bf3;
}

.arrows-list {
  display: flex;
  align-items: center;
  height: 100%;
  margin-bottom: 0;
}

.arrows-item {
  width: 100%;
}

.arrows-item:not(:last-child) {
  margin-right: 18px;
}

.arrows-link {
  display: inline-block;
  height: 100%;
}

.filter .icon {
  fill: currentColor;
}

/* latest-article */

.latest-article .conteiner {
  position: relative;

  padding-top: 143px;
  padding-bottom: 200px;
}

.latest-article .latest-icon {
  position: absolute;
  display: flex;
  z-index: -1;
  top: 160px;
  right: -440px;

  width: 1100px;
  fill: var(--color-element);
  opacity: 0.08;
}

.latest-img {
  width: 100%;
  height: 100%;
}

.latest-article .conteiners-icon {
  position: absolute;
  z-index: -1;
  left: -35px;
  top: 265px;
  fill: var(--color-element);
  opacity: 0.3;
}

.latest-img {
  height: 100%;
  width: 100%;
}

.article-title {
  margin-top: 0;
  margin-bottom: 26px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1, 55;
  color: var(--title-color);
  text-align: center;
}
.latest-article .conteiner-icon {
  margin: 0 auto 79px;

  height: 2px;
  width: 56px;
}

.latest-article .article-list {
  display: flex;
  justify-content: space-between;
}

.latest-article .article-item {
  width: calc(100% / 3 - 20px);

  margin-bottom: 30px;
  border-radius: 20px;
  overflow: hidden;

  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
}

.latest-article .image {
  object-fit: cover;
}

.latest-article .article-item:not(:last-child) {
  margin-right: 30px;
}

.latest-article .article-card {
  background-color: var(--white-color);
  width: 100%;
  height: 100%;
}

.article-item .text-card {
  width: 100%;
  padding: 24px 51px 35px 33px;
}

.article-list .title-paragraph {
  margin-bottom: 25px;
  margin-top: 0;

  font-size: 21px;
  font-weight: 700;
  line-height: 1.52;
  color: var(--title-color);
}

.article-item .paragraph {
  margin: 0;
  margin-bottom: 25px;
}

.article-item .link {
  padding: 25px 0 35px;

  font-size: 17px;
  font-weight: 600;
  line-height: 1.65;
  color: var(--accent-color);
  fill: currentColor;
  white-space: pre;
}

.latest-article .box-botton {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/* footer */
.footer {
  width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
}

.footer .conteiners-icon-white {
  position: absolute;
  fill: var(--white-color);
  opacity: 0.26;
  left: -250px;
  bottom: -20px;
}

.footer .conteiner {
  position: relative;
  color: var(--white-color);

  display: flex;
  justify-content: space-between;
  padding: 118px 0 113px;
}

.footer .conteiners-icon-blue {
  position: absolute;
  fill: var(--color-element);
  opacity: 0.3;
  z-index: -1;
  right: -140px;
  top: -70px;
}

.footer .navigation {
  width: 50%;
}

.footer .info {
  width: 34%;
}

.footer-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0;
}

.footer .footer-item {
  width: calc(100% - 30px / 3);
}

.footer .footer-item:not(:last-child) {
  margin-right: 30px;
}

.footer .text-logo {
  color: var(--white-color);
}

.footer .t-logo {
  color: var(--accent-color);
  background-color: var(--white-color);
  margin-bottom: 17px;
}

.footer-paragraph,
.footer .rights {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1, 55;
}

.footer-paragraph {
  margin-bottom: 31px;
}

.company,
.region,
.help {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 3;
}

.footer-list {
  font-weight: 300;
  font-size: 18px;
  line-height: 2.1;
}
